.App {
 width:100vw;
 max-width:100%;
 min-height:100vh;
 background: var(--primaryDark); 
 display: grid;
 grid: 1fr 0.05fr / 1fr;
}

.App > footer {
    width:100%;
    background:rgb(29, 29, 29);
    text-align:center;
    padding:10px;
    color:white;
}